  /*GLOBAL STYLES*/
*{
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
    margin:0;
}
label{
    font-size: 1rem;
    width: 100%;
    display: inline-block;
    text-align: left;
    line-height: 30px;
    color: #7100C5;
    margin-right: 12px;
}
table{
    width: 100%;
    text-align: -webkit-center;     
    text-align: -moz-center; 
    text-align: center;
    padding: 4px;
    margin-bottom: 40px;
}
table tbody tr{
    line-height: 40px;
    font-size: 12px;
    border: 0;
}
table tbody tr:hover{
    cursor: pointer;
}
table tbody tr:nth-child(odd){
    background-color: #F6F6F6
}
a{
    text-decoration: none;
    color: #4B0082;
}
a:hover{
    text-shadow: 0px 0px 0px #7100C5;
    font-size: 1em;
}
li{
    list-style: none;
}
ul{
    padding:0px;
    margin:0px;
}
input{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #d2c5db
}
input:focus{
    border: 0px solid #4B0082;
}
input[type="text"]:hover{
    cursor:auto;
}
input[type="radio"], input[type="checkbox"]{
    color: #111;
    width: 4%;
    height: 11px;
    margin-left: 10%;
}
input:focus{
    box-shadow: 0px 0px 8px #d2c5db;
}
footer{
    background-color: #111;
    color: #fff;
    height: 50px;
    display: flex;
    font-size: 1em;;
    justify-content: center;
    align-items: flex-end;
    width:100%;
}

/* STYLE SHEET FOR HEADER */

header{
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 3px #999;
    padding-top: 5px;
    height: fit-content;
}
header a :hover{
    text-shadow: 1px 1px 15px #b7b7b7;
}
.header-brand img:hover{
    box-shadow: 0px 0px 4px #b7b7b7;
}
header .container a img{
    width: 15%;
    max-width: 60px;
    min-width: 55px;
}
header .container #menu{
    float: right;
    font-size: 2.2em;
    font-weight: 700;
    padding: 5px;
}

header .container nav{
    background-color: #fff;
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}
#header-nav{
    transition: all .5s ease-in;
}

#header-nav:target{
   color: #1a891a;
}

header nav ul li{ 
    font-size: 1rem;
    line-height: 50px;
    font-weight: 550;
    
}
header nav ul li a{
    height: 15px;
    align-items: center;
    padding: 25px 0
}

header nav ul li a .icon{
    margin-right: 6px;
    margin-top: 0;
    width: 15px;
}


/*STYLES FOR MAIN SECTION*/
/*Main index section*/
main.background{
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 110px);
    display: table;
}
main .index-main-content{
    font-size: 2.3rem;
    font-weight: 900;
    text-shadow: 1px 1px 4px #E6E6FA;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

main .index-main-content h1{
    font-size: 2rem;
    line-height: 32px;
}

main .index-main-content p{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 100;
    color: #fff;
    text-shadow: 1px 1px 1px #111;
    line-height: 18px;
}
/*admin main section*/
main .admin-dashboard{
    min-height: fit-content;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}
main .admin-dashboard p{
    text-align: center;
    font-size: 0.8em;
}
.admin-dashboard .list{
    width: 100%;
    min-width: 156px;
}
.admin-dashboard .form{
    min-width: 100%;
    box-shadow: none;
}
.admin-dashboard .form-holder{
    background-color: #fff;
}

/*account record main section*/
.profile_pic{
    width: 30%;
    max-width:100px;
    border-radius: 100%;
    padding: 5px;
    box-shadow: 0px 0px 27px #1111117d;
}

/*account records section*/
.accounts .form{
    min-width: 100%;
    box-shadow: none;
}
.accounts table tbody tr td{  
    width: 30%;
    line-height: 30px;
    text-align: center;
}
.accounts table thead tr th{
    line-height: 30px;
    text-align:center;
}


/*login main section*/
main .login-main-content{
    height: 100vh;
}

/*User dashboard section*/
.user-dashboard p{
    line-height: 24px;
}
.user-dashboard .form h3{
    margin: 20px 0 23px 0;
}
.user-dashboard .form{
    min-width: 100%;
}
.user-dashboard p{
    text-align: left;  
}
.user-dashboard table{
    width: 100%;
    margin-bottom: 20px;
}
.user-dashboard a{
    margin: 0 auto;
}
.user-dashboard h3{
    margin-top: 30px !important;
}

/*new bank account section*/
main .new-bank-account form{
    text-align: left;
}

/*Transaction section*/
.transaction .form{
    max-width: 100%;
}
.transaction .form>span{
    font-size: 0.8em;
}


/*Utility classes*/
.btn{
    background-color: #4B0082;
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 600;
    font-family: inherit;
    padding: 20px;
    display: block;
    margin: auto;
    letter-spacing: 0.02em;
    line-height: 1px;
    font-size:1em;    
    font-weight: 100;
    border-radius: 5px;
}

.delete{
    background-color: #bf0202;
}
.activate{
    background-color: green;
}
.deactivate{
    background-color: orange;
}
.activate, .deactivate, .delete{
    font-weight: 700;
}
.btn:hover{
    box-shadow: 1px 1px 5px #111;
}
.form, .list{
    text-align: -webkit-center;
    text-align: -moz-center; 
    text-align: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 15px #999;
}
.large-btn{
	background-color: #4B0082;
	color: #fff;
	border: 0;
	margin-top: 10px;
	font-size: 0.8em;
	font-weight: 600;
	font-family: inherit;
    padding: 20px;
    width: 100%;
    display: block;
}
.btn-holder{
    display: flex;
    justify-content: space-around;
}
.sm-btn{
    width: 30%;
    border-radius: 12px;
    height: 40px;
}
.xs-btn{
    width: 20%;
    border-radius: 12px;
    height: 0px;
    line-height: 1px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 30px;
}
.lg-btn{
    width: 100%;
}
.modal{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    min-height: 100vh;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
}
.modal .form, .modal .info{
    width: 90%;
    margin: auto;
    border-radius: 5px;
    position:relative;
}
.modal .form .message, .modal .info .message{
    padding:30px;
    font-size: 1em;
    font-weight: 600;
}
.modal .form .close, .modal .info .close{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
    padding: 0px;
    width: 35px;
    margin: 5px;
    height: 35px;
    background: none;
    color: #4B0082;
    font-size: 23px;
}

.space-top{
    margin-top: 15px;
}
.space-bottom{
    margin-bottom: 20px;
}
.radio{
    margin-bottom: 20px;
    color: #111;
}
.container{
    padding: 0 10px 0 10px;
}
.page{
    width: 100%;
    height: calc(100vh - 122px);
    display: table;
    color: #4B0082;
}
.response span {
    position: fixed;
    top: 100px;
    right: 0;
    display: block;
    padding: 5px;
    max-width: 305px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #868686;
    border-radius: 5px;
    width: 100%;
    color: green;
    font-size: 1.5rem;
}
.form-holder{
    display: table-cell;
    vertical-align: middle;
}
.form, .info{
    max-width: 400px;
    
    color: #444446;
    margin: 10px auto;
    width:100%;
    border-radius: 5px;
}
.form h3, .info h3{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    color: #7100C5;
    line-height: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
    clear : both;
}
.form p, .info p{
    text-align: left;
}

/*display*/
.prio1, .prio2, .prio3, .prio4{
    display:none;
}
.show{
    display: block;
}
.hide{
    display: none;
}

/*appearance*/
.disp-logo{
    width: 20%;
    margin: 0 0 10px 0;
    max-width: 50px;
}

/*position*/
.move-left{
    float:left;
}
.move-right{
    float: right;
}

.information{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center
}
.info-holder{
    max-width: 300px;
    text-align: center;
}
.user-info{
    align-self: center;
}



/*colors*/
.green, .info{
    color: #1a891a;
}
.red, .warning{
    color: red;
}
.active{
    color: #7100c5;
    font-weight: bolder;
}
/*Media Queries Styles*/

@media only screen and (min-width: 600px){
    .lg-btn, .login-main-content input[type="submit"] {
        width: 45%;
    }
    .sm-btn{
        width: 20%;
    }

    /*header section*/
    header .container nav{
        width: 70%;
        float: right;
        display: table-cell;
        width: 80%;
        background-color: inherit;
    }
    header .container nav ul li{
        text-align: center;
    }

    /*account section*/
    .accounts table tbody tr td {
        width: 20%;
    }

    /*new bank account section*/
    main .new-bank-account form{
        text-align: left;
    }

    /*new user content*/
    main .new-user-content label{
            width: 27%;
            text-align: right;
    }
    main .new-user-content input{
        width: 65%;
    }
    main .new-user-content input[type="submit"]{
        width: 40%;
    }

    /*login section*/
    .login-main-content label{
        font-size: 1.2rem;
        width: 23%;
        text-align: right;
    }
    .login-main-content input{
        width:65%;
    }
    .login-main-content input[type="radio"]{
        margin-left: 8%;
    }

    /*utility styles*/
    .prio1, .prio2{
        display:table-cell;
    }
    .container #menu{
        display:none;
    }
    .container nav ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    /*account and user information section*/
    .information{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .user-info{
        align-self: flex-start;
    } 
}

@media only screen and (min-width: 700px){
    .prio3, .prio4{
        display:table-cell;
    }
    .accounts table tbody tr td {
        width: 15%;
    }
}